*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* HEADER */

header .nav{
  background-color: purple;
  height: 100px;
  margin-bottom: 10px;
}

header .second{
  background-color:#e1d67a;
  height: 200px;
  margin-bottom: 10px;
}

/* MAIN */
.corpo-centrale {
  padding-top:10px;
  padding-bottom: 10px;
}

section.middle{
  background-color: #0185fd;
  
}

section.top{
  background-color: #abcfe7;
  height: 50px;
}

aside.col.col-left{
  background-color: #abcfe7;
  width: 25%;
  height: 800px;
  float: left;
}

section.center{
  
  width: 50%;
  padding: 0 1%;
  float: left;
}

div.box{
  background-color: #abcfe7;
  height: 800px;
}

aside.col.col-right{
  background-color: #abcfe7;
  width: 25%;
  height: 800px;
  float: left;
}

/* FOOTER */

footer{
  background-color: #8801fe;
  height: 50px;
  margin-top: 10px;
}